/*-------------------------------------------------------------------------------------------*/
/* HEADER         ||---------------------------- */
/*-------------------------------------------------------------------------------------------*/

/* Header Style i*/
.wrapper {
	position: relative;
	width: 100%;
	overflow: hidden;
}
#header, .header {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 999;
	-webkit-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
}

.call_now{	  
    padding: 5px 10px;
    border-radius: 10px;
        line-height: 2.8;
    width: 100%;
    text-align: right;
}
.call_now i{
	font-size: 30px;
    line-height: 1;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    color: #fff;
}
.call_now span a{
	    font-size: 17px;
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    font-weight: bold;
    margin-left: 15px;
}

.nav_bg_color{
	display: inline-block;
	background: rgba(255, 255, 255, 0.61);
	width: 100%;
	border-radius: 10px;
}
.menu-bg {
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	background: #fff;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}
.menu-bg .navigation > ul > li > a {
	padding: 24px 16px;
}
.menu-bg .logo a {
	padding: 15px 0;
}
.logo a {
	display: inline-block;
	padding:0px 0;
}
.menu {
	border: none;
	border-bottom: 2px solid #fff;
	border-top: 2px solid #fff;
	height: 24px;
	position: absolute;
	right:16px;
	top:20px;
	width: 36px;
	background: none;
}
.menu:after {
	position: absolute;
	top: 9px;
	right: 0;
	content: '';
	width: 100%;
	height: 2px;
	background: #fff;
}
.header ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.header ul li {
	float: left;
	position: relative;
	/* display: inline-block; */
}
.navigation ul li a {
	font-size: 14px;
	font-weight: 600;
	text-decoration: none;
	text-transform: uppercase;
}
.navigation > ul > li > a {
	display: block;
	padding: 20px 22px;
	color: #333;
	transition: all 0.25s ease 0s;
	-webkit-transition: all 0.25s ease 0s;
	-moz-transition: all 0.25s ease 0s;
	-o-transition: all 0.25s ease 0s;
	outline: none;
}
.navigation .sub-nav li a:hover{
	color:#fff;
}
.navigation > ul > li:last-child a {
	/* padding-right: 0; */
}
.navigation .sub-nav {
	left: 0;
	position: absolute;
	top: 175%;
	width: 200px;
	z-index: 3;
	background-clip: padding-box;
	padding: 0;
	transition: top 0.3s ease 0s, visibility 0.2s ease 0.2s, opacity 0.2s ease 0.1s;
	-webkit-transition: top 0.3s ease 0s, visibility 0.2s ease 0.2s, opacity 0.2s ease 0.1s;
	-moz-transition: top 0.3s ease 0s, visibility 0.2s ease 0.2s, opacity 0.2s ease 0.1s;
	-ms-transition: top 0.3s ease 0s, visibility 0.2s ease 0.2s, opacity 0.2s ease 0.1s;
	-o-transition: top 0.3s ease 0s, visibility 0.2s ease 0.2s, opacity 0.2s ease 0.1s;
	opacity: 0;
	visibility: hidden;
	background-color:rgba(255, 255, 255, 0.61);
}
.navigation .sub-nav li {
	display: block;
	float: none;
	margin: 0;
	border-bottom: 1px solid #00000040;
	padding-bottom: 0;
	position: relative;
}
.navigation li:hover .sub-nav {
	opacity: 1;
	top:100%;
	transition: top 0.3s ease 0s;
	visibility: visible;
}
.menu-bg .navigation li:hover .sub-nav {
	top: 72%;
}
.navigation li.sub-menu .sub-nav {
	border: none;
	opacity: 0;
	top: 0;
	transition: top 0.3s ease 0s;
	visibility: visible;
	left: auto;
	right: 110%;
	visibility: hidden;
	transition: all 0.3s ease 0s;
}

.navigation li.sub-menu:hover .sub-nav {
	visibility: visible;
	opacity: 1;
	right: 100%;
	transition: all 0.3s ease 0s;
}
.navigation .sub-nav li:last-child {
	border-bottom: 0;
}
.navigation .sub-nav li a {
	padding: 8px 20px;
	display: block;
	color: #333;
}
.appointment-button {
	text-transform: uppercase;
}

@media (min-width: 768px) and (max-width: 991px) {
	.navigation > ul > li > a{
		    padding: 20px 14px;
	}
	.navigation > ul > li:last-child ul.sub-nav{
		left: auto;
		right: 0px;
	}
}

@media (max-width: 767px) {
.navigation{
	display: none;
}
.nav_bg_color{
	background: #fff;
}
.header ul li{
	float: none;
	border-bottom: 1px solid #33333330;
	position: relative;
}
.header ul{
	float: none;
}	
.navigation > ul > li > a{
	padding: 10px;
}
.navigation ul li i{
    color: #333;
    font-size: 25px;
    position: absolute;
    right: 15px;
    top: 9px;
    cursor: pointer;
    pointer-events: none;
}
.navigation .sub-nav{
    position: static;
    opacity: 1;
    visibility: visible;
    width: 100%;
    border-top: none;
    transition: inherit;
    -webkit-transition: inherit;
    padding: 0;
    display: none;
        background: #333;
}
.navigation .sub-nav li a{
	color: #fff;
}
.call_now{
	display: none;
}
}
